
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio

*.sqlite3
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
lib/old/*
lib/*.js
lib/*.css
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
sql/*.sqlite3
calibrated/*.json 
calibrated/*
matlab_data/*/*/*
matlab_data/*/*/*/*
3dlayout/*
3dlayout/*/*
matlab_data/*
3dlayout/*
3dlayout/*/*/*

